<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ReportsApplication2.Properties.Settings.DailyConnectionString"
      connectionString="Data Source=DESKTOP-QI4306H\SQLEXPRESS;Initial Catalog=Daily;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>